.header {
    background-color: #E41F31;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-weight: 500;
}

.header .busNum {
    margin-left: 14px;
}  

.header .direction {
    margin-left: 6px;
}  

.header .destination {
    margin-left: 8px;
}  

.map{
    height: 40%;
    width: 100%;
    border-bottom: 4px solid #E41F31;
}